<link href="assets/css/login.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
<link rel="icon" type="image/png" href="https://pp.userapi.com/c840126/v840126343/6b6c4/Rfh4met8rHY.jpg" />

<title>Sign in</title>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://www.miniusa.com/content/dam/mini/global/components/MINI_logo_2015.jpeg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="POST">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Логин">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль">
            <input type="submit" class="fadeIn fourth" value="Вход">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Новый пользователь</a>
        </div>

    </div>
</div>